{% extends 'users/dashboard_base.html' %}
{% block dashboard_contents %}
    <div class="card">
        <div class="d-flex card-header justify-content-center">
            Complaint Resolution System
        </div>
        <div class="card-body btn-group-vertical">
            <a href="{% url 'file-complaint' %}" class="btn btn-block btn-outline-primary">File complaint</a>
            <a href="{% url 'view-complaints' %}" class="btn btn-block btn-outline-primary">View complaints</a>

        </div>
    </div>
    <div class="card">
        <div class="d-flex card-header justify-content-center">
            Fees and Dues
        </div>
        <div class="card-body btn-group-vertical">
            <a href="{% url 'hall-fees' %}" class="btn btn-block btn-outline-primary">View hall related fees</a>
            <a href="{% url 'mess-dues' %}" class="btn btn-block btn-outline-primary">View mess charges</a>

        </div>
    </div>
{% endblock %}